{% extends 'base.html.twig' %}

{% block title %}Price{% endblock %}

{% block body %}
    <h1>Price</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ booking.prices.0.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ booking.prices.0.type }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ booking.prices.0.price }}</td>
            </tr>
            <tr>
                <th>Tax</th>
                <td>{{ booking.prices.0.tax }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ booking.prices.0.amount }}</td>
            </tr>
            <tr>
                <th>Hidden</th>
                <td>{{ booking.prices.0.hidden ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{{ booking.prices.0.deleted ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Crdate</th>
                <td>{{ booking.prices.0.crdate }}</td>
            </tr>
            <tr>
                <th>Tstamp</th>
                <td>{{ booking.prices.0.tstamp }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('price_index') }}">back to list</a>

    <a href="{{ path('price_edit', {'id': booking.prices.0.id}) }}">edit</a>

    {{ include('price/_delete_form.html.twig') }}
{% endblock %}
