
{{ dump(booking.guest) }}

<div class="row">
    <div class="col s3">
        <p>
            <b>Name</b><br>
            <a href="{{ path('guest_show', {'id': booking.guest.id}) }}">
                {{ booking.guest.lastnameFirstname|trim }}
            </a>
        </p>
        <p>
            <b>Lastname</b><br>
            <span class="black-text">{{ booking.guest.lastname }}</span>
        </p>
        <p>
            <b>Firstname</b><br>
            <span class="black-text">{{ booking.guest.firstname }}</span>
        </p>

    </div>
    <div class="col s3">
        <p>
            <b>Address</b><br>
            <span class="black-text">{{ booking.guest.address }}</span>
        </p>
    </div>
    <div class="col s2">
        <p>
            <b>Registered</b><br>
            <span class="black-text">{{ booking.guest.crdate ? booking.guest.crdate|date("D d.m.Y H:i", "Europe/Paris"): '' }}</span>
        </p>
        <p>
            <b>Birthday</b><br>
            <span class="black-text">{{ booking.guest.birthday ? booking.guest.birthday|date("d.m.Y") : '' }}</span>
        </p>
        <p>
            <b>City of birth</b><br>
            <span class="black-text">{{ booking.guest.placeofbirth }}</span>
        </p>
        <p>
            <b>Country of birth</b><br>
            <span class="black-text">{{ booking.guest.country }}</span>
        </p>
    </div>
    <div class="col s3">
        {% if booking.guest.type == 2 %}
            <p>
                <b>Birthday</b><br>
                <span class="black-text">{{ booking.guest.address }}</span>
            </p>

        {% endif %}
    </div>
    <div class="col s1" style="text-align:right;">
        <a class='dropdown-trigger' href='#'
           data-target='dropdown_guests_{{ booking.crdate }}'>
            <i class="material-icons grey-text">more_vert</i>
        </a>
        <!-- Dropdown Structure -->
        <ul id='dropdown_guests_{{ booking.crdate }}' class='dropdown-content'>
            <li>
                <a href="{{ path('guest_show', {'id': booking.guest.id}) }}" class="blue-text">
                    Show
                </a>
            </li>
            <li class="divider" tabindex="-1"></li>
            <li>
                <a href="{{ path('guest_edit', {'id': booking.guest.id}) }}" class="blue-text">
                    Edit
                </a>
            </li>
        </ul>
    </div>
</div>