{% extends 'base.html.twig' %}

{% block title %}Guest{% endblock %}

{% block body %}
    {# {{ dump(guest) }} #}
    <div class="card floating-container">
        <div class="card-content">
            <div class="card-title blue-text">
                {{ guest.lastnameFirstname }}
                <div class="right right-align right-aligned">
                    <a class='dropdown-trigger' href='#' data-target='dropdown0{{ guest.id }}'>
                        <i class="material-icons small grey-text">more_vert</i>
                    </a>
                    <!-- Dropdown Structure -->
                    <ul id='dropdown0{{ guest.id }}' class='dropdown-content'>
                        <li>
                            <a class="blue-text" href="javascript:history.back()">
                                Back
                            </a>
                        </li>
                        <li class="divider" tabindex="-1"></li>
                        <li>
                            <a class="blue-text" href="{{ path('guest_edit', {'id': guest.id}) }}">Edit</a>
                        </li>
                        <li class="divider" tabindex="-1"></li>
                        <li>
                            <a class="blue-text" href="#">
                                Print
                            </a>
                        </li>
                        <li>
                            {{ include('guest/_delete_form.html.twig') }}
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <ul class="collection with-header blue-grey-text">
                <li class="collection-item grey-text">
                    <div class="row">
                        <div class="col s3">
                            <p>
                                <b>Firstname</b><br>
                                <span class="black-text">{{ guest.firstname }}</span>
                            </p>
                        </div>
                        <div class="col s3">
                            <p>
                                <b>Lastname</b><br>
                                <span class="black-text">{{ guest.lastname }}</span>
                            </p>
                        </div>
                        <div class="col s3">

                        </div>
                        <div class="col s3">

                        </div>
                    </div>
                </li>

                <li class="collection-item grey-text">
                    <div class="row">
                        <div class="col s3">
                            <p>
                                <b>Phone</b><br>
                                <span class="black-text">{{ guest.phone }}</span>
                            </p>
                        </div>
                        <div class="col s3">
                            <p>
                                <b>E-Mail</b><br>
                                <span class="black-text">{{ guest.email }}</span>
                            </p>
                        </div>
                        <div class="col s3">
                            <p>
                                <b>Address</b><br>
                                <span class="black-text">{{ guest.address }}</span>
                            </p>
                        </div>
                        <div class="col s3">
                        </div>
                    </div>
                </li>


                <li class="collection-item grey-text">
                    <div class="row">
                        <div class="col s3">
                            <p>
                                <b>Birthday</b><br>
                                <span class="black-text">{{ guest.birthday ? guest.birthday|date("d.m.Y") : '' }}</span>
                            </p>
                        </div>
                        <div class="col s3">

                            <p>
                                <b>City of birth</b><br>
                                <span class="black-text">{{ guest.placeofbirth }}</span>
                            </p>

                        </div>
                        <div class="col s3">
                            <p>
                                <b>Country of birth</b><br>
                                <span class="black-text">{{ guest.country }}</span>
                            </p>
                        </div>
                        <div class="col s3">

                        </div>
                    </div>
                </li>

                {% if  guest.personalid %}
                <li class="collection-item grey-text">
                    <div class="row">
                        <div class="col s6">
                            <p>
                                <img src="{{ guest.personalid }}"/>
                            </p>
                        </div>
                        <div class="col s6">

                        </div>
                    </div>

                    {% endif %}


                    {% if guest.type == 2 %}
                <li class="collection-item grey-text">
                    <div class="row">
                        <div class="col s3">
                            <p>
                                <b>Company</b><br>
                                <span class="black-text">{{ guest.companyname }}</span>
                            </p>
                        </div>
                        <div class="col s3">
                            <p>
                                <b>Tax number</b><br>
                                <span class="black-text">{{ guest.taxnumber }}</span>
                            </p>
                        </div>
                        <div class="col s3">
                            <p>
                                <b>Signatur</b><br>
                                <span class="black-text">{{ guest.signatureauthorized }}</span>
                            </p>
                        </div>
                        <div class="col s3">
                        </div>
                    </div>
                </li>
                {% endif %}


            </ul>
        </div>
    </div>

    <br>

    {# Bookings #}
    <div class="card floating-container">
        <div class="card-content">
            <div class="card-title blue-text">
                <i class="material-icons">today</i> Bookings
            </div>
            <br>
            <ul class="collapsible">
                <li class="collapsible-header grey-text" style="border-top:0px;">
                    <div class="col s3">Check in</div>
                    <div class="col s3">Check out</div>
                    <div class="col s3">Room</div>
                    <div class="col s2">Occupancy</div>
                    <div class="col s1"></div>
                </li>
                {% for booking in guest.bookings %}
                    <li class="hoverable">
                        <div class="collapsible-header blue-grey-text">
                            <div class="col s3">
                                <i class="material-icons">today</i>
                                {{ booking.bookingfrom ? booking.bookingfrom|date("D d M", "Europe/Paris"): '' }}
                            </div>
                            <div class="col s3">
                                <i class="material-icons">today</i>
                                {{ booking.bookingtill ? booking.bookingtill|date("D d M", "Europe/Paris"): '' }}
                            </div>
                            <div class="col s3">
                                <i class="material-icons">home</i>{{ booking.bookedroom.house }}
                                / {{ booking.bookedroom.floor }} / {{ booking.bookedroom.name }}
                            </div>
                            <div class="col s2">
                                <i class="material-icons" style="margin-right:-10px;">person</i>
                                {% for i in  booking.occupancies %}
                                    <i class="material-icons" style="margin-right:-10px;">person</i>
                                {% endfor %}
                                {# {{  booking.occupancies|length +1}} / {{ booking.bookedroom.beds }} #}
                            </div>
                            <div class="col s1" style="text-align:right;">
                                <a class='dropdown-trigger' href='#' data-target='dropdown{{ booking.crdate }}'>
                                    <i class="material-icons grey-text">more_vert</i>
                                </a>
                                <!-- Dropdown Structure -->
                                <ul id='dropdown{{ booking.crdate }}' class='dropdown-content'>
                                    <li>
                                        <a href="{{ path('booking_edit', {'id': booking.id}) }}"
                                           class="blue-text">Edit</a>
                                    </li>
                                    <li class="divider" tabindex="-1"></li>
                                    <li>
                                        <a href="{{ path('booking_show', {'id': booking.id}) }}"
                                           class="blue-text">Show</a>
                                    </li>
                                    <li class="divider" tabindex="-1"></li>
                                    <li>
                                        <a href="#" class="blue-text">Print</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="collapsible-body blue-grey lighten-5 grey-text">
                            {{ include('booking/_booking_body_small.html.twig') }}
                            {{ include('room/_booking_room_body.html.twig') }}
                        </div>
                    </li>
                {% else %}
                    <li>
                        <div class="collapsible-header blue-grey-text">
                            <p>no records founds</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>




{% endblock %}
