{% extends 'base.html.twig' %}

{% block title %}Guest{% endblock %}

{% block body %}
    {#{{ dump(guest) }}#}





    <ul class="collection with-header z-depth-1 blue-grey-text">
        <li class="collection-header">
            <h5 class="section-title blue-text">{{ guest.lastnameFirstname }}

                <div class="right right-align right-aligned">
                    <a class='dropdown-trigger' href='#' data-target='dropdown0{{ guest.id }}'>
                        <i class="material-icons small grey-text">more_vert</i>
                    </a>
                    <!-- Dropdown Structure -->
                    <p>
                    <ul id='dropdown0{{ guest.id }}' class='dropdown-content'>
                        <li>
                            <a class="blue-text" href="{{ path('guest_index') }}">
                                Back
                            </a>
                        </li>
                        <li class="divider" tabindex="-1"></li>
                        <li>
                            <a class="blue-text" href="{{ path('guest_edit', {'id': guest.id}) }}">Edit</a>
                        </li>
                        <li class="divider" tabindex="-1"></li>
                        <li>
                            <a class="blue-text" href="#">
                                Print
                            </a>
                        </li>
                        <li>
                            {{ include('guest/_delete_form.html.twig') }}
                        </li>
                    </ul>
                    </p>
                </div>
            </h5>


        </li>
        <li class="collection-item grey lighten-5 grey-text">
            <div class="row">
                <div class="col s4">
                    <p>
                        <b>Lastname</b><br>
                        <span class="black-text">{{ guest.lastname }}</span>
                    </p>
                    <p>
                        <b>Firstname</b><br>
                        <span class="black-text">{{ guest.firstname }}</span>
                    </p>
                    <p>
                        <b>Birthday</b><br>
                        <span class="black-text">{{ guest.birthday ? guest.birthday|date("d.m.Y") : '' }}</span>
                    </p>
                </div>
                <div class="col s4">
                    <p>
                        <b>Registered: </b>
                        <span class="black-text">{{ guest.crdate ? guest.crdate|date("D d.m.Y H:i", "Europe/Paris"): '' }}</span>
                    </p>
                </div>
                <div class="col s4"></div>
            </div>
        </li>
        {#Booking Data#}
        <li class="collection-header">
            <h5 class="section-title blue-text">
                Reservations
            </h5>
        </li>
        {% for booking in guest.bookings %}
            <li class="collection-item grey lighten-5 grey-text">
                {{ include('booking/_booking_body_small.html.twig') }}
            </li>
        {% else %}
            <li class="collection-item grey lighten-5 grey-text">
                <p>no records found</p>
            </li>
        {% endfor %}
    </ul>


{% endblock %}
