{% extends 'base.html.twig' %}

{% block title %}Damage index{% endblock %}

{% block body %}
    <h1>Damage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Damageart</th>
                <th>Damagetext</th>
                <th>Price</th>
                <th>Hidden</th>
                <th>Deleted</th>
                <th>Crdate</th>
                <th>Tstamp</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for damage in damages %}
            <tr>
                <td>{{ damage.id }}</td>
                <td>{{ damage.damageart }}</td>
                <td>{{ damage.damagetext }}</td>
                <td>{{ damage.price }}</td>
                <td>{{ damage.hidden ? 'Yes' : 'No' }}</td>
                <td>{{ damage.deleted ? 'Yes' : 'No' }}</td>
                <td>{{ damage.crdate }}</td>
                <td>{{ damage.tstamp }}</td>
                <td>
                    <a href="{{ path('damage_show', {'id': damage.id}) }}">show</a>
                    <a href="{{ path('damage_edit', {'id': damage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('damage_new') }}">Create new</a>
{% endblock %}
