{% extends 'base.html.twig' %}

{% block title %}Damage{% endblock %}

{% block body %}
    <h1>Damage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ damage.id }}</td>
            </tr>
            <tr>
                <th>Damageart</th>
                <td>{{ damage.damageart }}</td>
            </tr>
            <tr>
                <th>Damagetext</th>
                <td>{{ damage.damagetext }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ damage.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('damage_index') }}">back to list</a>

    <a href="{{ path('damage_edit', {'id': damage.id}) }}">edit</a>

    {{ include('damage/_delete_form.html.twig') }}
{% endblock %}
