{% extends 'base.html.twig' %}

{% block title %}Occupancy{% endblock %}

{% block body %}
    <h1>Occupancy</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ occupancy.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ occupancy.name }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ occupancy.birthday }}</td>
            </tr>
            <tr>
                <th>Hidden</th>
                <td>{{ occupancy.hidden ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{{ occupancy.deleted ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Tstamp</th>
                <td>{{ occupancy.tstamp }}</td>
            </tr>
            <tr>
                <th>Crdate</th>
                <td>{{ occupancy.crdate }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('occupancy_index') }}">back to list</a>

    <a href="{{ path('occupancy_edit', {'id': occupancy.id}) }}">edit</a>

    {{ include('occupancy/_delete_form.html.twig') }}
{% endblock %}
