{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}

    {#    {{ dump(booking) }}#}

    <nav class="collection with-header blue-grey-text white">
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="hide-on-med-and-down">
                <li>
                    <a href="#">
                        <i class="material-icons small grey-text">local_printshop</i>

                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="material-icons small grey-text">send</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>


    <ul class="collection with-header blue-grey-text">
        <li class="collection-header">
            Booking No.
            <h5 class="section-title blue-text">{{ booking.id }}
                <div class="right right-align right-aligned">
                    <a href="javascript:history.back()">
                        <i class="material-icons small grey-text">close</i>
                    </a>
                </div>
            </h5>
        </li>

        <li class="collection-item lighten-5 grey-text">


            <div class="row">
                <div class="col s9">
                    <p>
                        <b>Description/Text</b>
                    </p>
                </div>
                <div class="col s1">
                    <p>
                        <b>Amount</b>
                    </p>
                </div>
                <div class="col s2">
                    <p>
                        <b>Price / EUR</b>
                    </p>
                </div>
            </div>

            <div class="row">
                <span class="new badge left blue" data-badge-caption="Room"></span>
            </div>

            <div class="row">
                <div class="col s9">
                    <p>
                        <span class="black-text">
                            {{ booking.bookedroom.house }} / {{ booking.bookedroom.floor }} / {{ booking.bookedroom.name }}
                        </span>
                    </p>
                </div>
                <div class="col s1">
                    <p>
                        <span class="black-text">
                            {% set difference = date(booking.bookingtill).diff(date(booking.bookingfrom)) %}
                            {% set leftDays = difference.days %}

                            {% if leftDays == 1 %}
                                1
                            {% else %}
                                {{ leftDays }}
                            {% endif %}
                        </span>
                    </p>
                </div>
                <div class="col s2">
                    <p>
                        <span class="black-text">
                            {{ booking.prices.0.price | number_format(2, ',', '.') }}
                        </span>
                    </p>
                    {% set endSum = booking.prices.0.price * leftDays %}
                </div>
            </div>
        </li>


        {% if booking.damages.0 is defined %}
            <li class="collection-item lighten-5 grey-text">
                <div class="row">
                    <span class="new badge left blue" data-badge-caption="Damages"></span>
                </div>
                <div class="row black-text">
                    {% for damage in booking.damages %}
                        <div class="col s9">
                            <p>
                                <span class="black-text">
                                    {{ damage.damageart }}
                                </span>
                            </p>
                        </div>
                        <div class="col s1">

                        </div>
                        <div class="col s2">
                            <p>
                                <span class="black-text">
                                    {{ damage.price  | number_format(2, ',', '.') }}
                                </span>
                            </p>
                        </div>
                        {% set endSum = endSum + damage.price %}
                    {% endfor %}
                </div>
            </li>
        {% endif %}




        {% if booking.parkings.0 is defined %}
            <li class="collection-item lighten-5 grey-text">
                <div class="row">
                    <span class="new badge left blue" data-badge-caption="Parking"></span>
                </div>
                <div class="row black-text">
                    {% for parking in booking.parkings %}
                        <div class="col s9">
                            <p>
                                {{ parking.carplate }} / {{ parking.parkingspot }}
                            </p>
                        </div>
                        <div class="col s1">

                        </div>
                        <div class="col s2">
                            <p>
                                <span class="black-text">
                                    {{ parking.price | number_format(2, ',', '.') }}
                                </span>
                            </p>
                        </div>
                        {% set endSum = endSum + parking.price %}
                    {% endfor %}
                </div>
            </li>
        {% endif %}


        <li class="collection-item lighten-5 grey-text">


            {% if booking.deposites.0 is defined %}
                <div class="row">
                    <span class="new badge left blue" data-badge-caption="Deposite"></span>
                </div>
                <div class="row black-text">
                    <div class="col s9">
                        <p>
                            Deposite
                        </p>
                    </div>
                    <div class="col s1">

                    </div>
                    <div class="col s2">
                        <p>
                                <span class="black-text">
                                    {{ booking.deposites.0.amount | number_format(2, ',', '.') }}
                                </span>
                        </p>
                    </div>
                    {% set endSum = endSum + booking.deposites.0.amount %}
                </div>
            {% endif %}


        </li>

        <li class="collection-item lighten-5 grey-text">


            <div class="row">
                <span class="new badge left blue" data-badge-caption="Final amount"></span>
            </div>
            <div class="row">
                <div class="col s9">
                </div>
                <div class="col s1">
                    SUM
                </div>
                <div class="col s2">
                        <span class="black-text">
                            <b>
                                {{ endSum | number_format(2, ',', '.') }}
                            </b>
                        </span>
                </div>
            </div>
            <div class="row">
                <div class="col s9">
                </div>
                <div class="col s1">
                    TAX
                </div>
                <div class="col s2">
                        <span class="black-text">
                            <b>
                                {{ ((endSum * 1.19) - endSum )  | number_format(2, ',', '.') }}
                            </b>
                        </span>

                </div>
            </div>
            <div class="row">
                <div class="col s9">
                </div>
                <div class="col s1">
                    TOTAL
                </div>
                <div class="col s2">
                        <span class="black-text">
                            <b>
                                {{ ((endSum * 1.19) - endSum + endSum ) | number_format(2, ',', '.') }}
                            </b>
                        </span>
                </div>
            </div>
        </li>


        <li class="collection-item lighten-5 grey-text">
            <div class="row">
                <span class="new badge left blue" data-badge-caption="Print"></span>
            </div>
            <div class="row">
                <div class="col">
                    <label>
                        <input type="checkbox"/>
                        <span>AGBs drucken</span>
                    </label>
                </div>
                <div class="col">
                    <label>
                        <input type="checkbox"/>
                        <span>Aufnahmevertrag drucken</span>
                    </label>
                </div>
                <div class="col">
                    <label>
                        <input type="checkbox"/>
                        <span>Meldeschein drucken</span>
                    </label>
                </div>
                <div class="col">
                    <label>
                        <input type="checkbox"/>
                        <span>Inventarliste drucken</span>
                    </label>
                </div>
                <div class="col">
                    <label>
                        <input type="checkbox"/>
                        <span>Preisliste drucken</span>
                    </label>
                </div>
                <div class="col">
                    <label>
                        <input type="checkbox"/>
                        <span>Hausordnung drucken</span>
                    </label>
                </div>
            </div>

        </li>
    </ul>


    {#    {{ dump(booking) }}#}
    {#    {{ dump(booking.prices.0) }}#}
    {#    {{ dump(booking.payments.0) }}#}

    {#    checkout#}


{% endblock %}