{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}

    {#<a class="btn-floating btn-large waves-effect waves-light teal right" href="{{ path('booking_new') }}">#}
    {#<i class="material-icons left">add</i>#}
    {#</a>#}
    {#<h3 class="section-title teal-text">Bookings</h3>#}
    <ul class="collapsible">
        <li class="collapsible-header">
            <h5 class="section-title blue-text"><i class="material-icons">flight_land</i>Arrivals</h5>
        </li>
        {% if bookingsCheckInsToday %}
            {% for booking in bookingsCheckInsToday %}
                {#{{ dump(booking.guest) }}#}
                <li>
                    <div class="collapsible-header blue-grey-text">
                        <div class="col s3">
                            {{ booking.guest.lastnameFirstname|trim }}
                        </div>
                        <div class="col s4">
                            <i class="material-icons">access_time</i>{{ booking.bookingfrom ? booking.bookingfrom|date("H:i"): '' }}
                        </div>
                        <div class="col s4">
                            <i class="material-icons">home</i>{{ booking.bookedroom.house }}
                            / {{ booking.bookedroom.floor }} / {{ booking.bookedroom.name }}
                        </div>
                        <div class="col s1" style="text-align:right;">
                            <a class='dropdown-trigger' href='#' data-target='dropdown_bookingsCheckInsToday_{{ booking.crdate }}'>
                                <i class="material-icons grey-text">more_vert</i>
                            </a>
                            <!-- Dropdown Structure -->
                            <ul id='dropdown_bookingsCheckInsToday_{{ booking.crdate }}' class='dropdown-content'>
                                <li>
                                    <a href="{{ path('booking_edit', {'id': booking.id}) }}"
                                       class="blue-text">Edit</a>
                                </li>
                                <li class="divider" tabindex="-1"></li>
                                <li>
                                    <a href="{{ path('booking_show', {'id': booking.id}) }}"
                                       class="blue-text">Show</a>
                                </li>
                                <li class="divider" tabindex="-1"></li>
                                <li>
                                    <a href="#" class="blue-text">Print</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="collapsible-body grey lighten-5 grey-text">
                        {{ include('booking/_booking_body.html.twig') }}
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <li>
                <div class="collapsible-header blue-grey-text">
                    <p>no records founds</p>
                </div>
            </li>
        {% endif %}
    </ul>




    <ul class="collapsible">
        <li class="collapsible-header">
            <h5 class="section-title blue-text"><i class="material-icons">flight_takeoff</i>Departures</h5>
        </li>
        {% if bookingsCheckOutsToday %}
            {% for booking in bookingsCheckOutsToday %}
                <li>
                    <div class="collapsible-header blue-grey-text">
                        <div class="col s3">
                            <i class="material-icons">person</i>
                            {{ booking.guest.lastnameFirstname|trim }}
                        </div>
                        <div class="col s3">
                            <i class="material-icons">access_time</i>{{ booking.bookingtill ? booking.bookingtill|date("H:i", "Europe/Paris"): '' }}
                        </div>
                        <div class="col s5">
                            <i class="material-icons">home</i>{{ booking.bookedroom.house }}
                            / {{ booking.bookedroom.floor }} / {{ booking.bookedroom.name }}
                        </div>
                        <div class="col s1" style="text-align:right;">
                            <a class='dropdown-trigger' href='#' data-target='dropdown_bookingsCheckOutsToday_{{ booking.crdate }}'>
                                <i class="material-icons grey-text">more_vert</i>
                            </a>
                            <!-- Dropdown Structure -->
                            <ul id='dropdown_bookingsCheckOutsToday_{{ booking.crdate }}' class='dropdown-content'>
                                <li>
                                    <a href="{{ path('booking_edit', {'id': booking.id}) }}"
                                       class="blue-text">Edit</a>
                                </li>
                                <li class="divider" tabindex="-1"></li>
                                <li>
                                    <a href="{{ path('booking_show', {'id': booking.id}) }}"
                                       class="blue-text">Show</a>
                                </li>
                                <li class="divider" tabindex="-1"></li>
                                <li>
                                    <a href="#" class="blue-text">Print</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="collapsible-body grey lighten-5 grey-text">
                        {{ include('booking/_booking_body.html.twig') }}
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <li>
                <div class="collapsible-header blue-grey-text">
                    <p>
                        no records founds
                    </p>
                </div>
            </li>
        {% endif %}
    </ul>



    <ul class="collapsible">
        <li class="collapsible-header">
            <h5 class="section-title blue-text"><i class="material-icons">today</i> Bookings</h5>
        </li>
        {% if bookings %}
            {% for booking in bookings %}
                {#{{ dump(booking.guest) }}#}
                <li>
                    <div class="collapsible-header blue-grey-text">
                        <div class="col s3">
                            {{ booking.guest.lastnameFirstname|trim }}
                        </div>
                        <div class="col s2">
                            <i class="material-icons">flight_land</i>
                            {{ booking.bookingfrom ? booking.bookingfrom|date("D d M", "Europe/Paris"): '' }}
                        </div>
                        <div class="col s2">
                            <i class="material-icons">flight_takeoff</i>
                            {{ booking.bookingtill ? booking.bookingtill|date("D d M", "Europe/Paris"): '' }}
                        </div>
                        <div class="col s4">
                            <i class="material-icons">home</i>{{ booking.bookedroom.house }}
                            / {{ booking.bookedroom.floor }} / {{ booking.bookedroom.name }}
                        </div>
                        <div class="col s1" style="text-align:right;">
                            <a class='dropdown-trigger' href='#' data-target='dropdown_bookingsCheckOutsToday_{{ booking.crdate }}'>
                                <i class="material-icons grey-text">more_vert</i>
                            </a>
                            <!-- Dropdown Structure -->
                            <ul id='dropdown_bookingsCheckOutsToday_{{ booking.crdate }}' class='dropdown-content'>
                                <li>
                                    <a href="{{ path('booking_edit', {'id': booking.id}) }}"
                                       class="blue-text">Edit</a>
                                </li>
                                <li class="divider" tabindex="-1"></li>
                                <li>
                                    <a href="{{ path('booking_show', {'id': booking.id}) }}"
                                       class="blue-text">Show</a>
                                </li>
                                <li class="divider" tabindex="-1"></li>
                                <li>
                                    <a href="#" class="blue-text">Print</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="collapsible-body grey lighten-5 grey-text">
                        {{ include('booking/_booking_body.html.twig') }}
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <li>
                <div class="collapsible-header blue-grey-text center-align">
                    <p>no records founds</p>
                </div>

            </li>
        {% endif %}
    </ul>


    {#<h3 class="section-title teal-text">All bookings</h3>#}
    {#<ul class="collapsible">#}
    {#{% for booking in bookings %}#}

    {#{{ dump(booking.guest.lastname) }}#}
    {#<li>#}
    {#<div class="collapsible-header">#}
    {#<i class="material-icons">person</i>#}
    {#<span class="title">#}
    {#<a href="{{ path('guest_show', {'id': booking.guest.id}) }}">{{ booking.guest.lastname |trim }}, {{ booking.guest.firstname|trim }}</a>#}
    {#</span>#}
    {#<span class="title">#}
    {#<i class="material-icons">alarm</i>{{ booking.bookingfrom ? booking.bookingfrom|date('d.m.Y') : '' }}#}
    {#- <i class="material-icons">alarm_on</i>{{ booking.bookingtill ? booking.bookingtill|date('d.m.Y') : '' }}#}
    {#</span>#}

    {#<span class="new badge">4</span></div>#}
    {#<div class="collapsible-body">#}
    {#<p>Lorem ipsum dolor sit amet.</p>#}
    {#</div>#}
    {#</li>#}
    {#<li>#}

    {#<li class="collection-item avatar">#}
    {#<i class="material-icons circle">grade</i>#}
    {#<span class="title">#}
    {#<a href="{{ path('guest_show', {'id': booking.guest.id}) }}">{{ booking.guest.lastname |trim }}, {{ booking.guest.firstname|trim }}</a>#}
    {#</span>#}
    {#<p><br>#}
    {#<p>#}

    {#</p>#}
    {#<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>#}
    {#</li>#}
    {#{% else %}#}
    {#<li class="collection-item avatar">#}
    {#<i class="material-icons circle">folder</i>#}
    {#<span class="title">Title</span>#}
    {#<p>First Line <br>#}

    {#</p>#}
    {#<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>#}
    {#</li>#}
    {#{% endfor %}#}


    {#</ul>#}


    {#<table class="responsive-table highlight display" id="dataTable">#}
    {#<table class="responsive-table highlight display" id="">#}
    {#<thead>#}
    {#<tr>#}
    {#<th>Bookingfrom</th>#}
    {#<th>Bookingtill</th>#}
    {#<th>actions</th>#}
    {#</tr>#}
    {#</thead>#}
    {#<tbody>#}
    {#{% for booking in bookings %}#}
    {#<tr>#}
    {#<td>{{ booking.bookingfrom ? booking.bookingfrom|date('Y-m-d H:i:s') : '' }}</td>#}
    {#<td>{{ booking.bookingtill ? booking.bookingtill|date('Y-m-d H:i:s') : '' }}</td>#}
    {#<td>#}
    {#<a href="{{ path('booking_show', {'id': booking.id}) }}"><i class="material-icons" title="Show ">#}
    {#remove_red_eye#}
    {#</i></a>#}
    {#<a href="{{ path('booking_edit', {'id': booking.id}) }}"><i class="material-icons" title="Edit">#}
    {#edit#}
    {#</i></a>#}
    {#</td>#}
    {#</tr>#}
    {#{% else %}#}
    {#<tr>#}
    {#<td colspan="8">no records found</td>#}
    {#</tr>#}
    {#{% endfor %}#}
    {#</tbody>#}
    {#</table>#}

{% endblock %}
