{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}

    <a class="btn-floating btn-large waves-effect waves-light teal right" href="{{ path('booking_new') }}">
        <i class="material-icons left">add</i>
    </a>
    <h3 class="section-title teal-text">Bookings</h3>


    <table class="responsive-table highlight display" id="dataTable">
        <thead>
        <tr>
            <th>Id</th>
            <th>Bookingfrom</th>
            <th>Bookingtill</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.bookingfrom ? booking.bookingfrom|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.bookingtill ? booking.bookingtill|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}">show</a>
                    <a href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
