{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}

    {#{{ dump(booking) }}#}

    <ul class="collection with-header blue-grey-text">
        <li class="collection-header">
            Booking No.
            <h5 class="section-title blue-text">{{ booking.id }}
                <div class="right right-align right-aligned">
                    <a href="javascript:history.back()">
                        <i class="material-icons small grey-text">close</i>
                    </a>
                </div>
            </h5>
        </li>

        {#Booking Data#}
        <li class="collection-item lighten-5 grey-text">
            <div class="row">
                <div class="col s3">
                    <p>
                        <b>Checkin</b><br>
                        <span class="black-text">{{ booking.bookingfrom ? booking.bookingfrom|date("D d.m.Y H:i"): '' }}</span>
                    </p>
                </div>
                <div class="col s3">
                    <p>
                        <b>Checkout</b><br>
                        <span class="black-text">{{ booking.bookingtill ? booking.bookingtill|date("D d.m.Y H:i"): '' }}</span>
                    </p>
                </div>
                <div class="col s2">
                    <p>
                        <b>Days</b><br>
                        <span class="black-text">
                            {% set difference = date(booking.bookingtill).diff(date(booking.bookingfrom)) %}
                            {% set leftDays = difference.days %}
                            {% if leftDays == 1 %}
                                1
                            {% else %}
                                {{ leftDays }}
                            {% endif %}
                        </span>
                    </p>
                </div>
                <div class="col s3">
                    <p>
                        <b>Booked on</b><br>
                        <span class="black-text">{{ booking.crdate ? booking.crdate|date("D d.m.Y H:i", "Europe/Paris"): '' }}</span>
                    </p>
                </div>
                <div class="col s1" style="text-align:right;">
                    <a class='dropdown-trigger' href='#'
                       data-target='dropdown_bookingsCheckInsToday_{{ booking.crdate }}'>
                        <i class="material-icons grey-text">more_vert</i>
                    </a>
                    <!-- Dropdown Structure -->
                    <ul id='dropdown_bookingsCheckInsToday_{{ booking.crdate }}' class='dropdown-content'>
                        <li>
                            <a href="{{ path('booking_edit', {'id': booking.id}) }}" class="blue-text">
                                Edit
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        {#Room#}
        <li class="collection-item lighten-5 grey-text">
            {{ include('booking/_booking_room_body.html.twig') }}
        </li>

        {#Guest Data#}
        <li class="collection-item  lighten-5 grey-text">
            {{ include('booking/_booking_guest_body.html.twig') }}
        </li>
        <li class="collection-item  lighten-5 grey-text">
            {{ include('room/_form.html.twig') }}
        </li>
    </ul>


    {#Action Buttons#}
    <div class="row">
        <div class="col s12 m4">
            <a href="#">
                <div class="card horizontal light-green">
                    <div class="card-content white-text">
                        <span class="card-title center-align">
                            <i class="material-icons small">exit_to_app</i>
                            Check out
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4">
            <a href="#">
                <div class="card horizontal light-blue">
                    <div class="card-content white-text">
                        <span class="card-title center-align">
                            <i class="material-icons">assignment</i> Stornieren</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4">
            <a href="#">
                <div class="card horizontal red">
                    <div class="card-content white-text">
                        <span class="card-title center-align">
                            <i class="material-icons">report</i> Problem melden
                        </span>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
