{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}

    {{ dump(booking) }}
    <div class="row">
        <div class="col m1">
            <a class="waves-effect waves-light btn right" href="{{ path('booking_index') }}">back to list</a>
        </div>
        <div class="col m2">
            <a class="waves-effect waves-light btn blue" href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>
        </div>
        <div class="col m8">
            {{ include('booking/_delete_form.html.twig') }}
        </div>
    </div>


    <ul class="collection with-header">
        <li class="collection-header"><h4>Booking</h4></li>
        <li class="collection-item">
            Id: {{ booking.id }}
        </li>
        <li class="collection-item">
            Bookingfrom: {{ booking.bookingfrom ? booking.bookingfrom|date('d.m.Y H:i') : '' }}
        </li>
        <li class="collection-item">
            Bookingtill: {{ booking.bookingtill ? booking.bookingtill|date('d.m.Y H:i') : '' }}
        </li>
        <li class="collection-item">
            Date: {{ booking.tstamp|date("d.m.Y H:i") }}
        </li>
    </ul>


    {% if room %}
        <div class="row">
        <div class="col s12 m4">
            <h4 class="section-title teal-text">Room</h4>
            <div class="card horizontal teal">
                <div class="card-content white-text">
                    <span class="card-title">{{ room.name }}</span>
                    <p>
                        <b>Beds:</b> {{ room.beds }} <br/>
                        <b>Floor:</b> {{ room.floor }} <br/>
                        <b>House:</b> {{ room.house }} <br/>
                    </p>
                </div>
                <div class="card-action">
                    <a href="{{ path('room_show', {'id': room.id}) }}">show</a>
                    <a href="{{ path('room_edit', {'id': room.id}) }}">edit</a>
                </div>
            </div>
        </div>
    {% endif %}

    {% if booking.guest %}

        <div class="col s12 m4">
            <h4 class="section-title teal-text">User</h4>
            <div class="card horizontal blue">
                <div class="card-content white-text">
                    <span class="card-title">{{ booking.guest.lastnameFirstname }}</span>
                    <p>
                        <b>Birthday:</b> {{ booking.guest.birthday|date('d.m.Y') }} <br/>
                    </p>
                </div>
                <div class="card-action">
                    <a href="{{ path('guest_show', {'id': booking.guest.id}) }}">show</a>
                    <a href="{{ path('guest_edit', {'id': booking.guest.id}) }}">edit</a>
                </div>
            </div>
        </div>
        </div>
    {% endif %}


{% endblock %}
